<div class="table-container">
  <div class="table-toolbar">
    <input
      type="text"
      placeholder="Filtrar dados..."
      (keyup)="applyFilter($event)"
      class="filter-input"
    />
  </div>
  <table>
    <thead>
      <tr>
        <th>
          @if(checkboxEnabled){
          <input
            type="checkbox"
            [checked]="isAllSelected()"
            (change)="toggleSelectAll($event)"
          />
          }
        </th>
        @for(col of columns; track col.key) {
        <th (click)="simpleSortTable(col.key)">
          {{ col.label }}
          @if(sortKey === col.key) {
          {{ sortDirection === "asc" ? "▲" : "▼" }}
          }
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of displayedData; track $index) {
      <tr>
        @if(checkboxEnabled){
        <td>
          <input type="checkbox" />
        </td>
        } @for (col of columns; track $index) {
        <td>{{ row[col.key] }}</td>
        }
      </tr>
      }
    </tbody>
  </table>
  @if(displayedData.length === 0) {
  <div>
    <p class="no-data">Não há dados para exibir.</p>
  </div>
  }
</div>
